.main-title {
  color: orange;
}

a {
  color: #000;
  text-decoration: none;
}
.main-nav ul{
  list-style-type: none;
  border-bottom: 2px solid black;
}
.main-nav li {
  display: inline-block;
  margin: 0 10px;
}
fieldset {
  border: none;
  color: blue;
}
.account-send {
  background-color: orange;
  margin: 10px;
}
.account-info label {
  display: block;
  padding: 10px;
}
 .account-info input {
   width: 50%;
 }
